body { background: #f9f9f9; }
.text-gold { color: #bb9f4e; }
a.text-gold:hover { color: #9c7d22; }

header.special:before, header.special:after,
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #bb9f4e;
}

.shadow {
  box-shadow: 0 5px 12px -1px #d2d2d2;
}
.shadow-dark {
  box-shadow: 0 5px 12px -1px #3c3c3c;
}

#main { background-image: none; }
.logo-icon { display: none; }
#navPanel, #navButton { display: none; }

@media screen and (max-width: 840px) {
  #header { display: block; }

  #main .sidebar section {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    padding-top: 3em;
  }
}

@media screen and (max-width: 736px) {
  #header {
    display: block;
    height: 48px;
  }

  #header.alt {
    padding: 2em 2.5em 2em 1.5em;
  }

  #header #logo {
    text-align: left;
  }

  #header #logo .logo-name {
    display: none;
  }

  #header #logo .logo-icon {
    display: block;
  }

  #header #logo .logo-icon {
    height: 25px;
    width: 25px;
  }

  #header #nav {
    right: 0;
    width: 100%;
  }

  #header nav ul {
    text-align: right;
    margin-right: 1.5em;
  }

  body.contact #main {
    padding-bottom: 2.5em;
  }

  body.left-sidebar ul.buttons, p, header {
    text-align: inherit;
  }

  .container, .container.medium {
    width: 90%;
  }
}
