.logo-icon { display: none; }

@media screen and (max-width: 840px) {
  #header { display: block; }
}

@media screen and (max-width: 736px) {
  #header {
    display: block;
    height: 48px;
  }

  #header.alt {
    padding: 2em 2.5em 2em 1.5em;
  }

  #header #logo {
    text-align: left;
  }

  #header #logo .logo-name {
    display: none;
  }

  #header #logo .logo-icon {
    display: block;
  }

  #header #logo .logo-icon {
    height: 25px;
    width: 25px;
  }

  #header #nav {
    right: 0;
    width: 100%;
  }

  #header nav ul {
    text-align: right;
    margin-right: 1.5em;
  }
}
